<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inicio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Titillium+Web:400,300,700&amp;subset=latin,latin-ext" />
    <link rel="stylesheet" href="node_modules/bootstrap.ui/dist/css/bootstrap-ui.min.css" />
</head>
<body bg-color="FFCECB">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary border-bottom box-shadow mb-3">
            <div class="container .text-white">
                <a class="navbar-brand text-white" asp-area="" asp-page="/Index">Inicio</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-page="/Comprar">Subastar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-page="/Privacy1">Vender</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-page="/Informacion">Información</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
    <footer class="border-top footer text-white bg-primary" >
         <div class="container "> 
       <div class="row">
           <div class="col-md-6 ">
               Diseño por 👽
               © Julian vallejo
               <span class="footer-divider">|</span>
               <a href="#" target="_blank"></a>
           </div>
           <div class="col-md-6">
               <a href="" target="_blank" class="footer-author" title="">
                   <img src="https://chat.usc.edu.co/var/storagetheme/2019y/02/19/1/4809170f6a845a189b10829cf2428904.png" width="80" height="50" alt="Universidad Santiago de Cali" />
               </a>
           <div>
         </div><!-- .row -->
    </div><!-- .container -->
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
